<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbo_header" class="jumbotron">
	<div class="container">
		<h1>Welcome to the d20WebTools platform!</h1>
		<p>We hope you will enjoy the most powerful role playing experience than ever!</p>
	</div>
</div>
<!-- Example row of columns -->
<div class="row">
	<div id="row1" class="col-lg-4">
		This is a claim about how we want from this platform.
	</div>
	<div id="row2" class="col-lg-4">
		This is a claim about who we want into this platform.
	</div>
	<div id="row3" class="col-lg-4">
		This is a claim about why we want have this platform.
	</div>
</div>
