<script type="text/javascript">
addNavigationItem({
	title: 'Classes informations'
});
</script>

<div class="panel-heading">
	<h4 id="classes-info">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapseClasses">
			Classes informations
		</a>
	</h4>
</div>
<div id="collapseClasses" class="panel-collapse collapse">
	<div class="panel-body">
		<strong>Not yet implemented</strong>
	</div>
</div>
