<%= render(layout: 'rpg_templates/new_form/partial_info_template', \
		locals: {
			info_id: "feats-info", \
			info_title: "Feats informations", \
			info_collapse_id: "collapseFeats", \
		}) \
	do %>
	<h1>Not yet implemented</h1>
<% end %>
