<%= render(layout: 'rpg_templates/new_form/partial_info_template', \
		locals: {
			info_id: "skills-info", \
			info_title: "Skills informations", \
			info_collapse_id: "collapseSkills", \
		}) \
	do %>
	<h1>Not yet implemented</h1>
<% end %>
