<%= render(layout: 'rpg_templates/new_form/partial_info_template', \
		locals: {
			info_id: "stats-info", \
			info_title: "Stats informations", \
			info_collapse_id: "collapseStats", \
		}) \
	do %>
	<h1>Not yet implemented</h1>
<% end %>
