<div class="modal fade" id="NewRoom" tabindex="-1" role="dialog" aria-labelledby="NewRoomLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for :room, :url => rooms_path do |f| %>
			<div class="modal-header">
				<button data-dismiss="modal" class="close">&times;</button>
				<h3>Create new room</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">Please insert room's name: <%= f.text_field :name, :placeholder => 'Name', :class=> 'form-control' %></div>
			</div>
			<div class="modal-footer">
				<%= f.submit "Create", :class => 'btn btn-primary' %>
				<a data-dismiss="modal" class="btn" href="#">Cancel</a>
			</div>
			<% end %>
		</div>
	</div>
</div>