<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rooms <b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li>
		<a href="#NewRoom" data-toggle="modal" data-target="#NewRoom">Create new room</a>
	</li>
	<li>
		<a href="/rooms">Join existing room</a>
	</li>
</ul>