<% content_for :title do %> - Rooms<% end %>

<h1>Join an existent room</h1>
<h4>Available rooms</h4>
<table class="table-dark table-striped table-condensed">
	<% @rooms.each do |room| %>
	<tr>
		<td><strong style="font-size: large;"><%= room.name %></strong></td>
		<td style="text-align: right;">
			<%= link_to room_path(room), :class => 'btn btn-success' do %>
				<%= icon 'sign-in' %>
			<% end %>
			<%= link_to room_path(room), method: :delete,
						 data: { confirm: 'Are you sure?' },
						:class => 'btn btn-danger' do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
