<div class="table-responsive">
	<table id="members" class="table-dark table-striped table-condensed table-hover">
	<% @room.members.each do |m| %>
		<tr>
			<td class="<%= 'highlight-user' if m.user.username == current_user.username %>">
			<% if m.is_online %>
				<%= image_tag('/assets/user-online.png', size: '16x16', alt: 'online') %>
			<% else %>
				<%= image_tag('/assets/user-offline.png', size: '16x16', alt: 'offline') %>
			<% end %>
				<span><%= m.user.username %></span>
			</td>
		</tr>
	<% end %>
	</table>
</div>
