/*
	Place all the styles related to the Rooms controller here.
	They will automatically be included in application.css.
	You can use Sass (SCSS) here: http://sass-lang.com/
*/

#jumbo_header {
	padding: 0px;
	margin: 0px;
}

#row1 {
	width: 66.66666666666666% !important;
}

#chatbox {
	text-align: left;
	margin: 25px 0 25px 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
	height: 230px;
	width: auto;
	border: 1px solid #ACD8F0;
	overflow: auto;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

.form-group,.form-group button,.form-group input {
	float: left;
	display: inline;
}

.form-group {
	margin-right: 5px
}

.highlight-user {
	background-color: #C0FFFF !important;
	color: #585858;
}

.nav-tabs li:not([class="active"]) a {
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
	   -moz-border-top-left-radius: 5px;
	  -moz-border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		   border-top-right-radius: 5px;
}
